.myPosts {
    width: 100%;
    background: rgb(162, 162, 247);
    border: 2px solid var(--main-dark-color);
}

.addPost {
    padding: 10px;
}

.textarea {
    display: block;
}

button {
    display: block;
}