.nav {
    height: 100%;
    width: calc( 20% - 10px);
    background: rgba(182, 225, 237, 1);
    margin-right: 10px;
}

.nav__list {
    list-style: none;
}

.nav__list_item {
    color: #fff;
}

.nav__list_item a {
    color: rgba(18, 115, 135, 1);
    font-weight: 700;
    text-decoration: none;
}