.profile_info_container {
    --main-dark-color: rgba(18, 115, 135, 1);
    display: flex;
    padding: 10px;
}

.profile_info__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.profile_info__content {
    padding: 0 30px;
    width: 100%;
    background-image: url('../../../assets/images/profile-bg.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.profile_info__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 100;
    margin-bottom: 15px;
}

.profile_info__about {
    margin-bottom: 15px;
}

.profile_info__about span {
    margin-right: 0.5em;
    color: rgb(76, 81, 85);
    font-weight: 700;
}

.profile_info__contact {
    font-weight: 700;
}

.profile_info__contact li {
    list-style: none;
    font-weight: 400;
    margin-top: 2px;
}

.profile_info__contact a {
    color: var(--main-dark-color);
    font-weight: 700;
}