.profile_info__content {
    padding: 0 30px;
    width: 64%;
    background-image: url('../../../assets/images/profile-bg.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.profile_info__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 100;
    margin-bottom: 10px;
}

.form_box__input {
    display: flex;
    justify-content: space-between;
}

.form_inputLarge {
    display: inline-block;
    width: calc(100% - 150px);
    height: 1.4em;
    background-color: var(--main-05light-color);
    border: 1px solid var(--main-dark-color);
    padding-left: 0.2em;
}

.form_input {
    display: inline-block;
    width: calc(100% - 150px);
    background-color: var(--main-05light-color);
    border: 1px solid var(--main-dark-color);
    padding-left: 0.2em;
}

.profile_info__about {
    margin-bottom: 10px;
}

.profile_info__about span {
    margin-right: 0.5em;
    color: rgb(76, 81, 85);
    font-weight: 700;
}

.profile_info__contact {
    font-weight: 700;
}

.profile_info__contact li {
    list-style: none;
    font-weight: 400;
    margin-bottom: 2px;
}

.profile_info__contact a {
    color: var(--main-dark-color);
    font-weight: 700;
}

.profile_edit__button {
    display: inline;
    cursor: pointer;
    padding: 0 0.2em;
    border-radius: 3px;
    border: 2px solid var(--main-light-color);
    background-color: transparent;
    font-weight: 400;
    color: var(--main-dark-color);
    transition: all ease-out 0.3s;
}

.profile_edit__button:hover {
    background-color: var(--main-05light-color);
    color: #000;
}

@media (max-width: 600px) {
    .profile_info__content {
        padding: 10px 10px;
        width: 100%;
    }
}