.profile_status {
    padding-bottom: 0.2em;
    margin-bottom: 15px;
    width: 100%;
    font-size: 1rem;
}

.profile_status__inner {
    width: 100%;
}

.profile_status__text {
    display: inline;
    margin-right: 0.5em;
    color: rgb(76, 81, 85);
    font-weight: 700;
    font-size: inherit;
}

.profile_status__inner span {
    display: inline;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-right: 0.5em;
    text-decoration: underline;
}

.profile_status__button {
    display: inline;
    cursor: pointer;
    padding: 0 0.2em;
    border-radius: 3px;
    border: 2px solid var(--main-light-color);
    background-color: transparent;
    color: var(--main-dark-color);
    transition: all ease-out 0.3s;
}

.profile_status__button:hover {
    background-color: var(--main-05light-color);
    color: #000;
}

.profile_status__inner input {
    display: inline;
    font-size: inherit;
    width: calc(100% - 4em);
    color: rgb(0, 0, 0);
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.7);
}