.profile_info_container {
    --main-dark-color: rgba(18, 115, 135, 1);
    display: flex;
    padding: 10px;
}

.profile_info__image_box {
    position: relative;
    width: 36%;
    align-self: flex-start;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.profile_info__image_box::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.profile_info__image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.profile_info__image_button {
    position: absolute;
    bottom: -110%;
    right: 0;
    width: 100%;
    background-color: var(--main-dark-color);
    color: #fff;
    padding: 0.5em;
    transition: all ease-in-out 0.5s;
}

.profile_info__image_box:hover .profile_info__image_button {
    bottom: 0;
}

.profile_info__content {
    padding: 0 30px;
    width: 64%;
    background-image: url('../../../assets/images/profile-bg.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.profile_info__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 100;
    margin-bottom: 15px;
}

.profile_info__about {
    margin-bottom: 15px;
}

.profile_info__about span {
    margin-right: 0.5em;
    color: rgb(76, 81, 85);
    font-weight: 700;
}

.profile_info__contact {
    font-weight: 700;
}

.profile_info__contact li {
    list-style: none;
    font-weight: 400;
    margin-top: 2px;
}

.profile_info__contact a {
    color: var(--main-dark-color);
    font-weight: 700;
}

@media (max-width: 600px) {
    .profile_info_container {
        display: block;
        padding: 5px;
    }
    .profile_info__image_box {
        width: 100%;
        display: block;
    }
    .profile_info__content {
        padding: 10px 10px;
        width: 100%;
    }
}