:root {
    --main-dark-color: rgba(18, 115, 135, 1);
    --main-05dark-color: rgba(18, 115, 135, 0.5);
    --main-light-color: rgba(182, 225, 237, 1);
    --main-05light-color: rgba(182, 225, 237, 0.5);
    --accent-color: rgb(167, 152, 139);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

.App {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin: 0 auto;
}

.main {
    width: 80%;
    border: 2px solid var(--main-dark-color);
}