.dialogs {
    width: 100%;
    display: flex;
}

.dialogList {
    background: var(--main-dark-color);
    width: 40%;
    height: 100%;
    align-items: stretch;
}

.dialog {
    padding: 10px;
    background: var(--main-light-color);
    color: var(--main-dark-color);
}

.dialog .active {
    background: var(--main-dark-color);
    color: #fff;
}

.messages {
    width: 60%;
    padding: 10px;
}

.message {
    display: block;
    border-radius: 15px;
    background: var(--main-light-color);
    padding: 10px;
    margin-bottom: 10px;
}