.nav {
    height: 100%;
    width: calc( 20% - 10px);
    background: var(--main-light-color);
    margin-right: 10px;
}

.nav__list {
    list-style: none;
}

.nav__list_item {
    color: var(--main-dark-color);
}

.nav__list_item a {
    display: block;
    padding: 8px 16px;
    color: var(--main-dark-color);
    font-weight: 700;
    text-decoration: none;
    /* border-bottom: 1px solid rgba(18, 115, 135, 0.1); */
    border-left: 20px solid var(--main-light-color);
    letter-spacing: 1px;
    transition: all ease 0.3s;
}

.nav__list_item a:hover {
    letter-spacing: 2px;
    /* border-bottom: 1px solid var(--main-dark-color); */
    border-left: 20px solid var(--accent-color);
}

a.active_a {
    color: rgb(255, 255, 255);
    background: var(--main-dark-color);
    border-left: 20px solid var(--main-dark-color);
}

a.active_a:hover {
    border-left: 20px solid var(--accent-color);
}